.cuadrado {
  background-color: rgb(255, 234, 238);
  height: 100vh;
}

.img-pro {
  align-items: center;
}

.cudra-masinfo {
  bottom: 0;
}

.cudra-masinfo button {
  color: black;
  font-weight: bold;
}

.cudra-masinfo button:hover {
  border: none;
  border-bottom: solid 6px black;
  border-top: solid 6px black;
  border-radius: 20%;
}

.nombre-product {
  font-size: 4.5vh;
  font-weight: bold;
}

.descri {
  font-size: 80%;
}

.precio {
  font-weight: bold;
  margin: 10px;
  font-size: 80%;
  border-top: 5px solid black;
  border-bottom: 2px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 25vh;
}

.cardContent {
  display: inline-block;
}
